<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group 3 Final Project</title>
  <link rel="stylesheet" href="/styleSheetForEjs.css">
</head>
<body>
  <nav>
    <h1><a href="/">Group 3 Final Project</a></h1>
    <ul style="display: flex; text-align:right;">
      <% if (user) { %>
      <li>Welcome, <%= user.email %></li>
       <% if (role) { if (role == 'instructor') {%>
          <li><a href="/instructor/index">Instructor Home</a></li>
        <%} else {%>
          <li><a href="/student/index">Student Home</a></li>
         <% }} %> 
        <li><a href="/logout">Logout</a></li>
      <% } else { if (role) { if (role == 'instructor') {%>
      <li><a href="/instructor/login">Login</a></li>
      <li><a href="/instructor/signup" class="btn">Signup</a></li>
      <% } else { %>
      <li><a href="/student/login">Login</a></li>
      <li><a href="/student/signup" class="btn">Signup</a></li>
      <%}}} %>
    </ul>
  </nav>
  