<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styleSheetForEjs.css" />
    <title>Add Courses</title>    
  </head>
  <body>
    <script src="/addScript.js" defer></script>
    <nav>
      <ul>
        <li><a href="/api/index">Home</a></li>
        <li><a href="/api/coursePage">Courses</a></li>
        <!-- <li><a href="/addCourses">Add Courses</a></li> -->
        <!-- <li><a href="/updateCourses">Update Courses</a></li> -->
        <!-- <li><a href="/removeCourses">Remove Courses</a></li> -->        
      </ul>      
    </nav>
    <div class="wrapper">
    <h1>Adding a Course</h1>
    <form>
      <label for="courseName">Course Name:</label>
      <input type="text" id="courseName" name="courseName"><br>
      <label for="courseSection">Course Section:</label>
      <input type="text" id="courseSection" name="courseSection"><br>
      <label for="courseTitle">Course Title:</label>
      <input type="text" id="courseTitle" name="courseTitle"><br>
      <label for="instructor">Instructor Name:</label>
      <input type="text" id="instructor" name="instructor"><br><br>
      <input type="button" value="Add" id="addBtn">
    </form>
  </body>
  </div>
</html>
