<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styleSheetForEjs.css" />
    <title>Add Courses</title>
  </head>
  <body>
    <script src="/studentEnrollCourseScript.js" defer></script>
    <nav>
      <ul>
        <li><a href="/student/studentIndex">Home</a></li>
        <li><a href="/coursePage">Courses</a></li>
        <li><a href="/addCourses">Add Courses</a></li>
        <li><a href="/removeCourses">Remove Courses</a></li>
        <li><a href="/student/shoppingCart">Cart</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <h1>Adding a Course</h1>
      <br />
      <div id="courselist" class="courses">
        <input type="checkbox" id="BIO105" name="class" value="BIO" />
        <label for="BIO105"> BIO Biology 105</label><br />
        <input type="checkbox" id="CHEM105" name="class" value="CHEM" />
        <label for="CHEM105"> CHEM Chemistry 105</label><br />
        <input type="checkbox" id="ENG73" name="class" value="ENG" />
        <label for="ENG73"> ENG English 73</label><br />
        <input type="checkbox" id="HIST101" name="class" value="HIST" />
        <label for="HIST101"> HIST American History 101</label><br />
        <input type="checkbox" id="MATH101" name="class" value="MATH" />
        <label for="MATH101"> MATH Algebra 101</label><br />
      </div>

      <div id="error"></div>
    </div>
    <br /><br /><br />
    <center><footer>Copyright © 2022 Group 3 Final Project</footer></center>
  </body>
</html>
