<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styleSheetForEjs.css" />
    <title>Courses</title>    
  </head>
  <body>
    <script src="/coursePageScript.js" defer></script>
    <nav>
      <ul>
        <li><a href="/teacherIndex">Home</a></li>
        <li><a href="/coursePageT">Courses</a></li>
        <!-- <li><a href="/addCourses">Add Courses</a></li> -->
        <!-- <li><a href="/updateCourses">Update Courses</a></li> -->
        <!-- <li><a href="/removeCourses">Remove Courses</a></li> -->        
      </ul>      
    </nav>
    <div class="wrapper">
    <h1>Courses Available</h1>
    <div id="courselist">
      <ol>
        <!-- <li>BIO 105 General Biology</li>
        <li>CHEM 105 Intro to Chemistry</li>
        <li>ENG 73 English Reading</li>
        <li>HIST 101 American History</li>
        <li>MATH 101 Algebra I</li> -->
      </ol>
    </div>
    <div id="courseDetail">

    </div>
    <br /><br /><br />
      <center><footer>Copyright © 2022 Group 3 Final Project</footer></center>
    </div>
  </body>
</html>
