<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styleSheetForEjs.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Selector</title>
    <script src="scripts.js"></script>
  </head>
  <body>
    <script src="/indexScript.js" defer></script>    
    <nav>
      <ul>
        <li><a href="/api/index">Home</a></li>
        <li><a href="/api/coursePage">Courses</a></li>
        <!-- <li><a href="/addCourses">Add Courses</a></li> -->
        <!-- <li><a href="/updateCourses">Update Courses</a></li> -->
        <!-- <li><a href="/removeCourses">Remove Courses</a></li> -->        
      </ul>      
    </nav>
    <div class="wrapper">
      <div class="header">
        <img src="/apple.png" alt="logo" />
        <center><h1>Welcome [TeacherName]!</h1></center>
      </div>
      <h2>Current Courses</h2>
      <h3>List of current courses</h3>
      <div id="courselist">

      </div>
      <div id="courseDetail">
      
      </div>
      <h2>To add course</h2>
      <input
        type="button"
        onclick="window.location.href='addCourses';"
        value="Add"
      />
      <h2>To update course</h2>
      <input
        type="button"
        onclick="window.location.href='updateCourse';"
        value="Update"
      />
      <h2>To delete course</h2>
      <input
        type="button"
        onclick="window.location.href='removeCourses';"
        value="Remove"
      />      
    </div>
    <br /><br /><br />
      <center><footer>Copyright © 2022 Group 3 Final Project</footer></center>
  </body>
</html>

