<%- include('partials/header'); -%>
    <img src="/welcome.png" alt="logo" style="width: 60%;" class="center"/>
    <div style="width:100%;">
    <table style="height:60%; text-align:center;margin: 0 auto;">
        <tr>
            <td style="width:100%; text-align: center;">
                <h1><a href="/instructor/login" class="btn">Instructor</a></h1>
            </td>
        </tr>
        <tr>
            <td style="width:100%; text-align: center;">
                <h1><a href="/student/login" class="btn">Student</a></h1>
            </td>
        </tr>
    </table>
    </div>
<%- include('partials/footer'); -%>