<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styleSheetForEjs.css" />
    <title>Login</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/api/index">Home</a></li>
        <li><a href="/api/coursePage">Courses</a></li>
        <li><a href="/api/loginPage">Teacher Login</a></li>
        <!-- <li><a href="/addCourses">Add Courses</a></li> -->
        <!-- <li><a href="/updateCourses">Update Courses</a></li> -->
        <!-- <li><a href="/removeCourses">Remove Courses</a></li> -->        
      </ul>      
    </nav>
    <script src="/loginPageScript.js" defer></script>
    <div class="wrapper">
        <h1>Login</h1>
        <form action="/api/teacherIndex" method="get">
        <h2>Teacher Login</h2>
        <label for="email">Email:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
        <input type="text" name="email" id="email"/>
        <div class="email error"></div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <div class="password error"></div>
        <button id="teacherLogin">login</button>
        </script>
      </form>
      <br /><br /><br />
      <center><footer>Copyright © 2022 Group 3 Final Project</footer></center>
    </div>
  </body>
</html>