<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styleSheetForEjs.css" />
    <title>Update Courses</title>    
  </head>
  <body>
    <script src="/updateScript.js" defer></script>
    <nav>
      <ul>
        <li><a href="/api/index">Home</a></li>
        <li><a href="/api/coursePage">Courses</a></li>
        <!-- <li><a href="/addCourses">Add Courses</a></li> -->
        <!-- <li><a href="/updateCourses">Update Courses</a></li> -->
        <!-- <li><a href="/removeCourses">Remove Courses</a></li> -->        
      </ul>      
    </nav>
    <div class="wrapper">
    <div id="courselist">
    </div>
    <h1>Update a Course</h1>
    <form>
      <label for="courseName">Course Name:</label>
      <input type="text" id="courseName" name="courseName" required><br>
      <label for="courseDept">Department:</label>
      <select id="courseDept" name="courseDept" required>
        <option value="BIO" selected>BIO</option>
        <option value="CHEM">CHEM</option>
        <option value="ENG">ENG</option>
        <option value="HIST">HIST</option>
        <option value="MATH">MATH</option>
      </select><br>
      <input type="text" style="display:none" id="courseId" name="courseId">
      <label for="courseSection">Course Section:</label>
      <input type="text" id="courseSection" name="courseSection" required><br>
      <label for="courseTitle">Course Title:</label>
      <input type="text" id="courseTitle" name="courseTitle" required><br>
      <label for="instructor">Instructor Name:</label>
      <input type="text" id="instructor" name="instructor" required><br><br>
      <label for="credit">Credit Hrs:</label>
      <input type="number" id="creditHr" min="1" max="5" name="creditHr" required><br><br>
      <label for="courseStatus">Open:</label>
      <input type="checkbox" id="courseStatus" name="courseStatus" value="true"><br><br>
      <input type="button" value="Update" id="updateBtn">
    </form>
    <div id="error"></div>
  </body>
  </div>
</html>
