  <%- include('../partials/header'); -%>
  <script src="/instructor/instructorScripts.js" defer></script>  
    <div class="wrapper">
      <h2>Current Courses</h2>
      <h3>List of current courses</h3>
      <div id="courselist">

      </div>
      <div id="courseDetail">
      
      </div>
      <div class="error" name="errorMessage" id="errorMessage"></div>
      <table>
        <tr>
          <td><button onclick="window.location.href='/instructor/createCourse';">Create Course</button></td>
          <td><button onclick="window.location.href='/instructor/updateCourse';">Update Course</button></td>
        </tr>
      </table>
    </div>
<%- include('../partials/footer'); -%>

