<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 3 Final Project</title>
    <link rel="stylesheet" href="/styleSheetForEjs.css" />
    <script src="/student/shoppingCart.js" defer></script>  
</head>
<body>
<nav>
    <h1><a href="/">Group 3 Final Project</a></h1>
    <ul>        
        <li>Welcome, <%= user.email %></li>
        <li><a href="/student/index">Home</a></li>        
        <li><a href="/student/shoppingCart">Cart</a></li> 
        <li><a href="/logout">Logout</a></li>  
    </ul>      
</nav>
<div class="wrapper center" style="width: 50%;">
    <h2 style="width: 100%;">Shopping Cart</h2>
    <div id="studentCourselist" >
        <!-- list the student courses -->
    </div>
    <div id="courseDetail" style="width: 100%; height:100%;padding-top: 0px; margin: auto;">

    </div>
    <button onclick="window.location.href='/student/index';">Continue Enroll</button>
    <div class="error" name="errorMessage" id="errorMessage"></div>
    </div>
</div>
  </body>
<%- include('../partials/footer'); -%>
    
</body>
</html>