<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group 3 Final Project</title>
    <link rel="stylesheet" href="/styleSheetForEjs.css" />
    <script src="/student/shoppingCart.js" defer></script>  
</head>
<body>
<nav>
    <ul>
        <li><a href="/student/studentIndex">Home</a></li>
        <li><a href="/coursePage">Courses</a></li>
        <li><a href="/addCourses">Add Courses</a></li>
        <li><a href="/removeCourses">Remove Courses</a></li>
        <li><a href="/student/shoppingCart">Cart</a></li>   
    </ul>      
</nav>
<div class="wrapper">
    <h2>Shopping Cart</h2>
    <div id="courselist">
    </div>
    <input type="button" value="Add Courses" id="addBtn">
    <div class="error" name="errorMessage" id="errorMessage"></div>
    </div>
</div>
  </body>
<%- include('../partials/footer'); -%>
    
</body>
</html>